pytz==2024.2
pyOpenSSL==25.0.0
ndg-httpsclient==0.5.1
pyasn1==0.6.1
apache-airflow[crypto,celery,postgres,hive,jdbc,mysql,ssh]==2.10.4
apache-airflow-providers-apache-spark==5.0.0
celery==5.4.0
kombu==5.4.2
tornado==6.4.2
werkzeug==3.1.3
pyspark==3.5.4
SQLAlchemy==2.0.37
wtforms==3.2.1